#main-column {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

#main-chatbot {
    flex: 1 1 0 !important;
    min-height: 0 !important;
    overflow-y: auto !important;
}

footer {
    visibility: hidden
}